@model StudenetForm.Models.studentInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>studentInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place_Of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place_Of_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guardian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassYear.Name_Of_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassYear.Name_Of_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolYear.Name_Of_school_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolYear.Name_Of_school_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOfStudent.Student_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOfStudent.Student_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
