@model IEnumerable<StudenetForm.Models.studentInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place_Of_Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guardian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassYear.Name_Of_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolYear.Name_Of_school_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOfStudent.Student_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Of_Birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place_Of_Birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guardian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassYear.Name_Of_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolYear.Name_Of_school_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOfStudent.Student_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentId })
        </td>
    </tr>
}

</table>
